body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.monaco-editor .overflow-guard .inputarea {
  padding: 0 !important;
  border: 0 !important;
  resize: none !important;
}

.monaco-editor .parameter-hints-widget {
  /* margin-left: 5vw; */
  margin-top: 10vh;
}

.XEditor {
  min-height: 50vh;
  height: 100%;
}
