.XLayout {
  min-height: 100vh;
}

/* Default Sidebar & Content */
.XSidebar {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  min-width: 75px;
  max-width: 75px;

  border-radius: 0px !important;

  vertical-align: middle;
  overflow-y: auto;
}

.XContent {
  height: 100vh;
  width: calc(100vw - 75px);
  margin-left: 75px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Widescreen Sidebar & Content Overrides*/
@media only screen and (min-width: 1800px) {
  .XSidebar {
    min-width: 125px;
    width: min(max(125px, 10vw), 200px) !important;
    max-width: 200px;
  }

  .XContent {
    width: calc(100vw - min(max(125px, 10vw), 200px));
    margin-left: min(max(125px, 10vw), 200px);
  }
}

/* Devices with hover functionality */
@media only screen and (hover) {
  .XContent {
    overflow-y: hidden;
  }
  .XContent:hover {
    overflow-y: auto;
  }
}

.XToolbar {
  max-height: 10vh;
}

.XToastContainer {
  z-index: 1000;
  position: absolute;
  bottom: 50px;
  right: 50px;
}


.XCircleIcon {
  box-shadow: none !important;
}

/*
 * Prevent sidebar menu from scrolling. See #109 (https://github.com/KCarretto/paragon/issues/109)
 */
.pushable:not(body) {
  transform: none;
}
.pushable:not(body) > .ui.sidebar,
.pushable:not(body) > .fixed,
.pushable:not(body) > .pusher:after {
  position: fixed;
}
