.XLayout {
  min-height: 100vh;
}

.XSidebar {
  max-width: 150px;
  height: 100vh;
}

.XToolbar {
  max-height: 10vh;
}

.XContent {
  min-height: 100vh;
  margin-left: 10vw;
  padding-top: 3vh;
  max-width: 90vw;
  padding-right: 1vw;
}

.XCircleIcon {
  box-shadow: none !important;
}

/*
 * Prevent sidebar menu from scrolling. See #109 (https://github.com/KCarretto/paragon/issues/109)
 */
.pushable:not(body) {
  transform: none;
}
.pushable:not(body) > .ui.sidebar,
.pushable:not(body) > .fixed,
.pushable:not(body) > .pusher:after {
  position: fixed;
}
